.winter{
    list-style-image: url(../second_homework/icons/winter_16.png);
}
.Spring{
    list-style-image: url(../second_homework/icons/spring_16.png);
}
.Summer{
    list-style-image: url(../second_homework/icons/summer_16.png);
}
.Autumn{
    list-style-image: url(../second_homework/icons/autumn_16.png);
}
.months{
    list-style-image: url(../second_homework/icons/more.png);
}